/**{*/
/*    background-color: black;*/
/*}*/
/*****************/
/* HEADER*/
/*************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
/* we went to bi sticky  later*/
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}
.logo{
    height: 2.7rem;

}
/*****************/
/* navigation*/
/*************/
.main-nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4.6rem;

}
.main-nav-link:link,
.main-nav-link:visited {
        display: inline;
     text-decoration: none;
     color: #fae5d3;
     font-weight: 500;
     font-size: 1.8rem;
    transition: all 0.3s;

}

.main-nav-link:hover,
.main-nav-link:active{
   color: #00e6e6;
}
.nav-cat:link,
.nav-cat:visited
{

    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    color: #000000;
    /*background:#6ff668 ;*/
    background: #FBDB65;

}
.nav-cat:hover,
.nav-cat:active{
    background: #fae5d3;
}
/*mobile icon*/
.btn-mobile-nav{
 border: none;
 background: none;
 cursor: pointer;
    display: none;

}
.icon-mobile-nav{
    height: 3.8rem;
    width: 3.8rem;
    stroke: white ;


}

.icon-mobile-nav[name='x']{
    display: none;
}

/*STICKY NAVIGATION*/
.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-bottom: 0;
    background: rgba(24, 23, 23, 0.97);
    z-index: 999;


}
.sticky .section-hero{
    margin-top: 9.6rem;
}
/*********/
/* HERo SECTION*/
.section-hero{
    /*background-color:#fdf2e9 ;*/
    background-color: #000000;
    padding:4.9rem 0 9.6rem 0;

}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
     align-items: center;
    gap: 9rem;
    padding: 0 3.2rem;

}

.hero-description {
     font-size: 2rem;
     line-height: 1.3;
     margin-bottom: 4.8rem;
     color: #fdf2e9;
     /*color: #555555;*/
}
/*.hero-image-box{*/
/*        border-top: 30px solid black;*/
/*}*/
.hero-imag{
  width: 100%;

}

.delivered-meals{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.7rem;
    border: 3px solid #170d03;

}
.delivered-imgs img:last-child{
    margin: 0;
}
.delivered-text{
    font-size: 1.8rem;
    color: #fae5d3;
    font-weight: 600;
}
.delivered-text span{
    /*color:#6ff668 ;*/
    color: #FBDB65;
    font-weight: 700;
}
/**********/
/*logos section-featured*/
/*************/
.section-featured{
    padding: 0 0 3.2rem 0;
    background: #000000;

}
.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 700;
    color: #fae5d3;
    text-align: center;
    margin-bottom: 2.4rem;

}
.logos{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;

}
.logos img{
    height: 3.2rem;
    filter: brightness(100);
    opacity: 50%;
}


/*****/
/*how it work section*/
/*****?
 */
.section-how{
    padding: 9.6rem 0;
    background: #000000;
    color: #fae5d3;
    /*margin-top: -9.2rem;*/
}
.step-number{
    font-size: 8.6rem;
    font-weight: 600;
      color: #7d736a;
    margin-bottom: 1.2rem;

}
.step-description{
    font-size: 1.6rem;
    line-height: 1.6;
}
.step-img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%, -50%);

}
.step-img-box::before{
    width: 60%;
    padding-bottom: 60%;
     /*background: #afa094;*/
     /*z-index: -2;*/
}
.step-img-box::after{
    width: 50%;
    padding-bottom: 60%;
    color: #d77a1d;
    position: absolute;
    /*z-index: 9999;*/

}

.step-img{
    width: 40%;
    z-index: 10;

}
/*****/
/*how it work section*/
/*****?
 */
.section-meals {
    padding: 3.4rem 0;
    background: black;
}
.Burger {
    box-shadow: 0 2.4rem 4.8rem rgba(47, 47, 47, 0.9);
    border-radius: 13px;
    overflow: hidden;
    transition: all 0.5s;
}
.Burger:hover{
    transform: translateY(-2.5rem);
    box-shadow: 0 2.4rem 4.8rem rgba(112, 106, 106, 0.9);
}
.burger-content{
    padding: 1rem 3rem 4rem 4rem;
}
.burger-tags{
    margin: 1.2rem;
}
.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: #FBDB65;
    color: black;
    font-weight: 600;
    /*border-radius: 100px;*/
}
.burger-title{
    font-size: 2rem;
    /*color: #6ff668;*/
    /*background: #FBDB65;*/
    color: #FBDB65;
    font-weight: 600;
    margin-bottom: 3.3rem;
}
.burger-attributes{
    display: flex;
    flex-direction:column ;
    list-style: none;
    gap: 1.5rem;
    margin-top: -1rem;
}
.burger-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: #fae5d3;


}
.burger-img{
    width: 100%;

}
.burger-icon{
   height: 2.2rem;
   width: 2.2rem;
    /*stroke: #6ff668;*/
    stroke: #FBDB65;
}
.all-recipes{
    text-align: center;
    font-size: 1.8rem;
    /*margin-bottom: 4.6rem;*/
}




/*****/
/*testimonials s section*/
/*****?
 */
.section-testimonials{
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    background:#000000;
    /*background: #fae5d3;*/


}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap:8rem ;

}
.testimonials-container{
     padding: 9.4rem 0;
    margin-left: 1.6rem;
}
.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}
.testimonial-text{
    color: #fae5d3;
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;

}
.testimonial-name{
    font-size: 1.5rem;
    color: #c8b7a9;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
    padding: 1.6rem;
}
.gallery-item{
    overflow: hidden;
}
.gallery-item img{
    display: block;
    width: 100%;
    /*height: 800px;*/
    transition: all 0.4s;
}
.gallery img:hover  {
    transform: scale(1.1);
}




/*****/
/*pricing*/
/*****?
 */
.section-pricing{
    background: black;

}
.pricing-plan{

    border-radius: 14px;
    /*margin-bottom: 3rem;*/

    width: 75%;
}

.pricing-plan--starter{
    justify-self: end;
    border: 2px solid #322e2a;
      padding: 4.6rem;
}
.pricing-plan--complete{
        background-color: #191715;
      padding: 4.8rem;
    position: relative;
    overflow: hidden;
}
.pricing-plan--complete::after{
    content: "Best value";
    position: absolute;
    top: 6%;
    color: black;
    right: -17%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background: #ffc500;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);


}
.plan-header{
    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name{
    /*color: #6ff668;*/
    color: #FBDB65;
    font-weight: 600;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 3.2rem;

}
.plan-price{
font-size: 7.4rem;
    font-weight: 700;
    color: #fae5d3;
    margin-bottom: 1.6rem;

}
.plan-text{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fae5d3;
}
.plan-price span{
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8px;
}
.plan-sing-up{
    text-align: center;
    margin-top: 4.8rem;
}
.plan-details{
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
    /*color: #4eac49;*/
    color: #FBDB65;
}

/*****/
/*featured*/
/*****?
 */
.featured-icon{
    display: block;
    /*stroke: #6ff668;*/
    stroke: #FBDB65;
    height: 3.4rem;
    width: 3.4rem;
    margin-bottom: 3.2rem;
    /*background: #322e2a;*/
    /*padding: 1.6rem;*/
    /*border-radius: 50%;*/
}
.featured-title{
    font-size: 2.4rem;
    color: #fae5d3;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.featured-text {
    font-size: 1.7rem;
    line-height: 1.7;
    color: #c8b7a9;

}
/*****/
/*CTA*/
/*****?
 */
.section-cta{
    padding: 9.6rem 0 12.6rem  0;
    background-color: black;


}
.cta-text-box{
    padding:  3.8rem  6.4rem  6.4rem 6.4rem;
}
.cta .heading-secondary{
    margin-bottom: 3.2rem;
}
.cta-text{
    color: #e1cebe;
    font-size: 1.8rem;
    line-height:1.6;
    margin-bottom: 4.8rem;
}
.cta {
    display: grid;
    /*2/3= 66.6% + 1/3 =33.3%*/
    grid-template-columns: 2fr 1fr;
    /*background-color: black;*/
    /*box-shadow: 0 2.4rem 4.8rem rgba(47, 47, 47, 0.9);*/
    border-radius: 13px;
    border: 2px solid #fae5d3;
    background-image: linear-gradient( to right bottom, #000000, #000000 );
    /*background-color: black;*/
    overflow: hidden;

    /*height: 50rem;*/
}
.cta-img-box{
    background-image: url('../img/mastre5.png');
    /*background-image:linear-gradient(to right bottom, rgba(235,151,78,0.3),rgba(230,125,34,0.35)),url("../img/mastre5.png");*/
    /*background-image:linear-gradient(to right bottom, rgba(255, 198, 0, 1), rgba(230, 191, 34, 0.90)),url("../img/mastre5.png");*/
    background-size: cover;
    background-color: #FBDB65;
    background-position: center;
    /*filter: brightness(100);*/

}
.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}
.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight:500 ;
    margin-bottom: 1.2rem;
    color: #e1cebe;

}
.cta-form input,
.cta-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    color: inherit;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.cta-form input::placeholder{
    color: #aaa;
}
.cta *:focus{
    outline: none;
    box-shadow:0 0 0 0.6rem rgba(253,242,233,0.5) ;
}

/*****/
/*FOOTER*/
/*****?
 */
.footer{
    padding: 12.6rem 0;
    background-color: black;
    border-top: 1px solid #262626;
}
.logo-col{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    display: block;
    margin-bottom: 3.2rem;

}
.social-link{
    list-style: none;
    display: flex;
    gap: 2.4rem;
}
.social-icon{
    height: 2.4rem;
    width: 2.4rem;
    stroke: #FBDB65;
    /*margin-bottom: 5.4rem;*/
}
.copyright{
    font-size: 1.4rem;
    color: #fae5d3;
    line-height: 1.6rem;
    margin-top: auto;
}
.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: white;

}
.contacts{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fae5d3;
}
.grid--footer{
    grid-template-columns:1.5fr 1.5fr 1fr 1fr 1fr ;
}
.address{
margin-bottom: 2.4rem;
}
.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

}
.footer-link:link,
.footer-link:visited{
    color: #fae5d3;
    text-decoration: none;
    font-size: 1.6rem;
}
.footer-link:hover,
.footer-link:active{
    color: #FBDB65;
}